---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="UNEG - Universidad Nacional Experimental de Guayana">
	<main>
		<div class="flex bg-[#00326F] h-7"></div>

	</main>
	<footer>
		<p>Hecho con Astro</p>
	</footer>
</Layout>

<style>
	
</style>
