---
import { MenuItems } from '../../public/Menuitems';

interface Props {
    select: string;
}

const { select} = Astro.props;
const negro= '#0374B5';
const blanco = '#FFFFFF';
---

<img  class="justify-items-center object-cover w-full h-auto py-2" src="/ucab.png" alt=" UCAB">

<div class="">
    <img class="h-13 rounded-full border-2 'border-white" src="/cuenta.png" alt="Cuenta">
    
</div>

{MenuItems.map((item, index) => (
    <a href={item.title}>
        <div class={select === `${index+2}` ? 'bg-white' : 'hover:bg-[#2E3C46]'}>
            <svg fill={select === `${index+2}` ? negro : blanco} class={`h-${item.heigth}`} viewBox={item.vb}>
                <path d={item.d}></path>
            </svg>
        </div>
    </a>
))}

<style>
    div {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
</style>