---
import { MenuItems } from '../../public/Menuitems';

interface Props {
    select: string;
}

const { select} = Astro.props;
const negro= '#0374B5';
const blanco = '#FFFFFF';

---

<img  class="justify-items-center object-cover w-full h-auto py-2" src="/ucab.png" alt=" UCAB">

<div class="group hover:bg-[#2E3C46] Item">
    <img class="h-13 rounded-full border-2 'border-white" src="/cuenta.png" alt="Cuenta">
    <div class={select === `${1}` ? 'invisible z-[-1] h-11 w-[6.5rem] absolute' : 'flex items-center justify-center object-cover invisible z-[-1] h-11 w-[6.5rem] absolute delay-150 rounded-lg font-semibold text-lg bg-[#0575B6] transition-Item group-hover:visible group-hover:translate-x-[7rem]'}>
        Cuenta
        <div class="absolute translate-y-[-1px] translate-x-[-3.5rem] border-t-[15px] border-t-transparent border-r-[14px] border-r-[#0575B6] border-b-[15px] border-b-transparent"></div>
    </div> 
</div>

{MenuItems.map((item, index) => (
    <a href={item.title} class="group">
        <div class={select === `${index+2}` ? 'bg-white Item' : 'hover:bg-[#2E3C46] Item'}>
            <svg fill={select === `${index+2}` ? negro : blanco} class={`h-`+item.heigth} viewBox={item.vb}>
                <path d={item.d}></path>
            </svg>
            <div class={select === `${index+2}` ? 'invisible z-[-1] h-11 w-[6.5rem] absolute' : 'flex items-center justify-center object-cover invisible z-[-1] h-11 w-[6.5rem] absolute delay-150 rounded-lg font-semibold text-lg bg-[#0575B6] transition-Item group-hover:visible group-hover:translate-x-[7rem]'}>
                {item.title}
                <div class="absolute translate-y-[-1px] translate-x-[-3.5rem] border-t-[15px] border-t-transparent border-r-[14px] border-r-[#0575B6] border-b-[15px] border-b-transparent"></div>
            </div> 
        </div>
    </a>
))}

<style>

    .transition-Item{
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 100ms;
    }

    .Item {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
</style>